<%- include("template/header",{webTitle:"Create new pet"}) %>

<div class="container">
  <h1>Pet Detail</h1>
  <% if (error) { %>
  <p><%= message %></p>
  <a href="/pets" class="btn btn-dark" style="display: block !important"
    >Back to Pets</a
  >
  <% } %> <% if (!error) { %>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= pet.id%></th>
        <td><%= pet.name %></td>
        <td><%= pet.description %></td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  <% } %>
</div>

<%- include("template/footer") %>
